@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  /*  Primary */

  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--eggshell);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 750px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 3rem auto;
}

.wrapper img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-family: "Young Serif", serif;
  margin: 1.5rem 0;
  font-weight: 400;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}

.preparation {
  background-color: var(--rose-white);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  padding: 1.5rem;
  border-radius: 20px;
  margin: 2rem 0;
}

.preparation h2 {
  color: var(--dark-raspberry);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.preparation ul {
  padding-left: 1.5rem;
  color: var(--dark-raspberry);
  line-height: 2.5;
}

.preparation span {
  color: var(--wenge-brown);
  font-weight: 700;
}

.preparation p {
  color: var(--wenge-brown);
  padding-left: 5px;
  display: inline-block;
  font-weight: 400;
}

.ingredients {
  margin-bottom: 1.5rem;
}

.ingredients h1 {
  color: var(--nutmeg);
}

.ingredients ul {
  padding-left: 1.8rem;
  line-height: 1.8;
  color: var(--nutmeg);
}

.ingredients span {
  margin-left: 0.8rem;
  color: var(--wenge-brown);
  font-family: "Outfit", sans-serif;
}

.instructions {
  color: var(--wenge-brown);
  font-family: "Outfit", sans-serif;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.instructions h1 {
  color: var(--nutmeg);
}

.instructions ol {
  margin-left: 1.5rem;
  color: var(--nutmeg);
  font-weight: 700;
  line-height: 3;
}

.instructions p {
  color: var(--wenge-brown);
  margin-left: 1rem;
  line-height: normal;
  font-weight: 400;
}

.instructions span {
  font-weight: 700;
  margin-right: 0.2rem;
}

hr {
  border: 1px solid var(--light-grey);
}

.nutrition h1 {
  color: var(--nutmeg);
}

.nutrition p {
  color: var(--wenge-brown);
  font-weight: 400;
}

.nutrition-data {
  font-family: "Outfit", sans-serif;
  color: var(--wenge-brown);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nutrition-data span {
  color: var(--nutmeg);
  font-weight: 700;
  width: 17rem;
}

@media (max-width: 769px) {
  .wrapper {
    width: auto;
    margin: 0;
    border-radius: 0;
  }
}

@media (max-width: 637px) {
  .nutrition-data span {
    width: 10rem;
  }
}

@media (max-width: 460px) {

    .wrapper{
        padding: 0;
    }
    .wrapper img{
        border-radius: 0;
    }

    .top, .ingredients, .instructions, .nutrition, .preparation{
        margin: 0.5rem 1rem
    }
    hr{
        width: 95%;
        margin: 0 auto;
    }
    .nutrition hr{
        width: 100%;
    }

  .nutrition-data span {
    width: 7rem;
  }
}

@media (max-width: 354px){
    .nutrition-data span{
        width: 4rem;
    }
}

@media (max-width: 320px){
    .preparation ul{
        font-size: .8rem;
    }
    .ingredients ul{
        font-size: .8rem;
    }

    .instructions p{
        font-size: .7rem;
    }

    .nutrition p, .nutrition span{
        font-size: .8rem;
    }
}
